<div class="container">
  <div class="row">
    <div class="col-12 d-flex flex-column" *ngIf="foundPost">
      <div class="d-flex justify-content-center">
        <img
          class="py-4 rounded-circle text-center"
          src="https://picsum.photos/500"
          alt=""
        />
      </div>
      <div class="p-3">
        <app-single-post [post]="foundPost">
          <button
            type="button"
            class="btn btn-outline-success mb-3"
            routerLink="/"
          >
            TORNA ALLA HOME
          </button>
        </app-single-post>
      </div>
    </div>
  </div>
</div>
